#screen {
    border: 1px solid #888;
}

.controls-container {
    width: 1000px;
    border: 1px solid #aaa;
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: auto;
}

.studio-label {
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
}

.frame-tracker {
    font-size: 13px;
    text-anchor: middle;
    border-bottom: 1px solid #888;
}

.frame-tracker .tick-mark {
    stroke: black;
    stroke: 1px;
}

.frame-tracker .background {
    fill: #eee;
}

.attribute-control {
    width: 100%;
    border-bottom: 1px solid #888;
}

.control-point {
    fill: orange;
    stroke: orange;
    stroke-width: 0;
    cursor: move;
}

.control-point:hover {
    stroke-width: 2;
}

.control-line {
    stroke: rgb(64, 95, 237);
    stroke-width: 2;
}