<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Animation studio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="css/studio.css">
    </head>

    <body>
        <h1>Animation studio</h1>

        <div id="app">
            <svg id="screen" width="1000" height="400">

            </svg>
            <div id="frame-tracker-row">
                <div class="studio-label">Frame:</div>
                <svg id="frame-tracker" viewBox="0 0 1010 20">
                    <rect class="background" width="1010" height="20" />
                    <text x="10" y="13">1</text>
                    <text v-for="i in numFrames" :x="i * 50" y="13">
                        {{ i * 5 }}
                    </text>
                    <line class="tick-mark" v-for="i in numFrames" :x1="i * 10" :x2="i * 10" y1="15" y2="20" />
                </svg>
            </div>
            <div class="attribute-control-row">
                <div class="studio-label">x:</div>
                <svg class="attribute-control" :height="height" v-on:mousemove="drag" v-on:mouseup="deselect">
                    <control-point :initial-x="10" :initial-y="40" constrain="x" />
                    <control-point :initial-x="990" :initial-y="40" constrain="x" />
                </svg>
            </div>
        </div>

        <script src="js/studio.js"></script>
    </body>
</html>
